footer
{
    font-size: .8rem;
    line-height: 1.5;

    padding: 1.5rem;

    color: #ddd;
    background-color: #111;
}
footer a:hover
{
    color: #01ff70;
}
footer a:link,
footer a:visited
{
    color: #ddd;
}
footer a[rel='license'] img
{
    border: thin solid #ddd;
}
html,
body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body
{
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}
#brand-marquee
{
    font-size: 18rem;
    font-weight: 800;
    line-height: 13.4rem;

    width: 100%;
    margin: 0;
    padding: 0;

    color: #fff;
    border-bottom: .45rem solid tomato;
    background-color: #9cff00;
}
#spectacles-marquee
{
    font-size: 15rem;
    font-weight: 500;

    width: 100%;

    text-align: right;

    color: #ccc;
    background-color: #333;
}
