@import (inline) '../../../node_modules/semantic-style/dist/main.css';
@import (reference) '../../../node_modules/colors.css/less/colors.less';

// Yo dawg, I heard you like vars for colors.
@color-radham-green: #9cff00;

// Mixins for great justice!!!
.helvetica () {
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

html, body {
	height: 100%;
}

body {
	background-color: #3b3b3b;
	.helvetica;
	font-weight: 300;
}

footer {
    padding: 1.5rem;
    background-color: @black;
    color: @silver;
    font-size: 0.8rem;
    line-height: 1.5;
    width: 100%;

    a {
        &:link,
        &:visited {
            color: @silver;
        }

        &:hover {
            color: @lime;
        }

        &[rel="license"] img {
            border: thin solid @silver;
        }
    }
}

#wrapper {
	background-color: @color-radham-green;
	margin: 0;
	//padding: 0;
    padding-top: 5rem;
}

#brand {
    //margin-top: 0;
	//padding-top: 7rem;
}

#brand h1 {
	font-size: 18rem;
	font-weight: 800;
	color: #fdfdfd;
	line-height: 0.70rem;
    margin-top: 1rem;
	margin-left: 0;
}

#brand h1:last-of-type {
	//margin-bottom: 0.01rem;
    margin-bottom: 0;
    padding-bottom: 6.1rem;
}

#brand-marquee {
    border-bottom: 0.45rem solid #ff0000;
    width: 100%;
}

#spectacles-marquee {
    text-align: right;
    font-size: 15rem;
    font-weight: 500;
    color: #ccc;
    width: 100%;
}
