// @import (inline) '../../../node_modules/semantic-style/dist/main.css';
@import (reference) '../../../node_modules/colors.css/less/colors.less';
@import '_footer';

// Yo dawg, I heard you like vars for colors.

@color-radham-green:          #9cff00;
@color-dark-gray:             #333;
@embiggened-font-size:        15rem;
@embiggened-font-size-plus:   18rem;
@embiggened-font-weight:      500;
@embiggened-font-weight-plus: 800;

// Mixins for great justice!!!

.helvetica () {
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

.height-width-max () {
    height: 100%;
    width: 100%;
}

.spatial-reset () {
    margin: 0;
    padding: 0;
}

// Styles yo!

html,
body {
    .height-width-max;
    .spatial-reset;
}

body {
    .helvetica;
}

#brand-marquee {
    .spatial-reset;
    background-color: @color-radham-green;
    border-bottom: 0.45rem solid tomato; // #ff0000
    color: @white;
    font-size: @embiggened-font-size-plus;
    font-weight: @embiggened-font-weight-plus;
    line-height: 13.4rem;
    width: 100%;
}

#spectacles-marquee {
    background-color: @color-dark-gray;
    color: #ccc;
    font-size: @embiggened-font-size;
    font-weight: @embiggened-font-weight;
    text-align: right;
    width: 100%;
}
