<footer>
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
        <img alt="Creative Commons License" src="https://i.creativecommons.org/l/by/4.0/88x31.png">
    </a>
    <small>
        <p>
            Except where otherwise noted, content on this site by
            <a class="h-card"  rel="me" href="http://jamesbenner.com">
                <span property="cc:attributionName">James Benner</span>
            </a>
            is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
        </p>
    </small>
</footer>
