<!DOCTYPE html>
<html lang="en-US" prefix="cc: http://creativecommons.org/ns# dcterms: http://purl.org/dc/terms/">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta property="dcterms:modified" content="{{timestamp}}">
        <title>Radioactive Hamster</title>
        <meta name="author" content="James Benner">
        <link rel="canonical" href="http://{{cname}}/">
        <link rel="profile" href="http://gmpg.org/xfn/11">
        <link rel="stylesheet" href="asset/css/main.css">
        <link rel="stylesheet" href="vendor/any-old-icon/style.css">
    </head>
    <body>
        {{{content}}}
        {{> footer }}
        {{> analytics }}
    </body>
</html>
