	<body>

		<div id="wrapper">

			<div id="brand-marquee">

				<div id="brand">
					<h1>Radio</h1>
					<h1>active</h1>
					<h1>Hamster</h1>
				</div>

			</div>

		</div>

			<div style="text-align:right;font-size: 15em; font-weight: 500; color:#ccc">
				<span>100%<br/> Nerd Crafted</span>
				<div aria-hidden="true" class="icon-matt-hakes-spectacles">
				</div>
			</div>

		{{> footer }}

	</body>
