
	<head>

		<title>Radioactive Hamster</title>

		<link rel="stylesheet" href="node_modules/sanitize.css/dist/sanitize.css">
		<link rel="stylesheet" href="vendor/any-old-icon/style.css" />
		<link rel="stylesheet/less" type="text/css" href="lib/preboot/less/preboot.less" />
		<link rel="stylesheet/less" type="text/css" href="rh-neo.less" />

		<script src="lib/less.min.js"></script>

	</head>

	<body>

		<div id="wrapper">

			<div id="brand-marquee" style="border-bottom: 0.45em solid #ff0000;">

				<div id="brand">
					<h1>Radio</h1>
					<h1>active</h1>
					<h1>Hamster</h1>
				</div>

			</div>

		</div>

			<div style="text-align:right;font-size: 15em; font-weight: 500; color:#ccc">
				<span>100%<br/> Nerd Crafted</span>
				<div aria-hidden="true" class="icon-matt-hakes-spectacles">
				</div>
			</div>

		{{> footer }}

	</body>
