<div id="content">
	<div id="brand-marquee">
        <span>Radio<br>active<br>Hamster</span>
	</div>

    <div id="spectacles-marquee">
    	<span>100%<br>Nerd Crafted</span>
    	<div aria-hidden="true" class="icon-matt-hakes-spectacles"></div>
    </div>
</div>